# Assignment 3: KNN implementation
   ## Name: Atharv Subhekar

In [3]:
#import preprocessing libraries
import pandas as pd 
import numpy as np

#algorithm libraries
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

#Metrics libraries
from sklearn.metrics import accuracy_score

### Data Processing

In [4]:
# loading the dataset in pandas
df = pd.read_csv("breast-cancer-wisconsin.csv")
df

      Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0    1000025   5   1   1   1   2   1   3   1   1      2
1    1002945   5   4   4   5   7  10   3   2   1      2
2    1015425   3   1   1   1   2   2   3   1   1      2
3    1016277   6   8   8   1   3   4   3   7   1      2
4    1017023   4   1   1   3   2   1   3   1   1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
694   776715   3   1   1   1   3   2   1   1   1      2
695   841769   2   1   1   1   2   1   1   1   1      2
696   888820   5  10  10   3   7   3   8  10   2      4
697   897471   4   8   6   4   3   4  10   6   1      4
698   897471   4   8   8   5   4   5  10   4   1      4

[699 rows x 11 columns]

In [5]:
# storing the target labels
target = df.iloc[:,-1]
target

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Class, Length: 699, dtype: int64

In [6]:
#Dropping the unnecessary columns 
df = df.drop(columns = ['Sample','Class'])
df.shape

(699, 9)

In [7]:
# Converting the missing values denoted by '?' to NaN
df = df.replace({'?': np.NaN})
# Replacing NaN values with the mean values.
df["F6"] = pd.to_numeric(df["F6"])
df['F6'].fillna(df['F6'].mean(), inplace=True)
df['F6'].isnull().sum()

0

In [8]:
#Splitting the data into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size = 0.3)

### K - Nearest Neighbors Classifier

In [12]:
def knn(k):
    #Initializing the model 
    k_neigh = KNeighborsClassifier(n_neighbors=k, metric = 'minkowski')
    #Fitting the model on training data
    k_neigh.fit(X_train,y_train)
    #Predicting the labels values using the test data
    y_pred = k_neigh.predict(X_test)
    #Evaluating the model
    acc = accuracy_score(y_pred, y_test)
    return acc

### Evaluating with different values of k

In [15]:
# Trying out the model using k = 3
acc_3= knn(k=3)
print(" Accuracy with k:3 =", acc_3)
# Trying out the model using k = 5
acc_5 = knn(k=5)
print("\n Accuracy with k:5 =", acc_5)
# Trying out the model using k = 10
acc_10 = knn(k=10)
print("\n Accuracy with k:10 =", acc_10)

 Accuracy with k:3 = 0.9523809523809523

 Accuracy with k:5 = 0.9619047619047619

 Accuracy with k:10 = 0.9523809523809523

/Users/subhuatharva/miniconda3/envs/my-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/subhuatharva/miniconda3/envs/my-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/subhuatharva/miniconda3/envs/my-env/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)