# Assignment 2 
### Name: Atharv Subhekar

## Q1. Linear Discriminant Analysis

In [29]:
#preprocessing  libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# algorithm libraries
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.multiclass import OneVsOneClassifier
from sklearn.multiclass import OneVsRestClassifier
# metric libraries
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [30]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
df = pd.read_csv("iris.data.csv", names=names)
target = df.iloc[:,-1]

In [31]:
df

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [32]:
target.replace('Iris-setosa', -1, inplace = True)
target.replace('Iris-versicolor', 0, inplace = True)
target.replace('Iris-virginica', 1, inplace = True)
target.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: class, dtype: int64

In [33]:
df = df.drop(columns = ['class'])
df.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [34]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size = 0.2)

In [39]:
#One vs One Classifier
lda = LDA(n_components = 1)
# define ovo strategy
ovo = OneVsOneClassifier(lda)
# fit model
ovo.fit(X_train, y_train)
# make predictions
y_pred = ovo.predict(X_test)

In [40]:
#One vs One Model evaluation metrics
target_names = ['Iris_Setosa', 'Iris-Versicolor', 'Iris-Virginica']
print(classification_report(y_test, y_pred, target_names=target_names))

                 precision    recall  f1-score   support

    Iris_Setosa       1.00      1.00      1.00        12
Iris-Versicolor       1.00      0.80      0.89        10
 Iris-Virginica       0.80      1.00      0.89         8

       accuracy                           0.93        30
      macro avg       0.93      0.93      0.93        30
   weighted avg       0.95      0.93      0.93        30

In [41]:
#One vs Rest Classifier
lda_2 = LDA(n_components = 1)
#define ovr strategy
ovr = OneVsRestClassifier(lda)
#fit model 
ovr.fit(X_train, y_train)
#make predictions
y_pred_2 = ovr.predict(X_test)

In [42]:
#One vs Rest Model evaluation metrics
target_names = ['Iris_Setosa', 'Iris-Versicolor', 'Iris-Virginica']
print(classification_report(y_test, y_pred_2, target_names=target_names))

                 precision    recall  f1-score   support

    Iris_Setosa       1.00      1.00      1.00        12
Iris-Versicolor       1.00      0.90      0.95        10
 Iris-Virginica       0.89      1.00      0.94         8

       accuracy                           0.97        30
      macro avg       0.96      0.97      0.96        30
   weighted avg       0.97      0.97      0.97        30