# Assignment 6: Decision Tree Implementation
   ## Name: Atharv Subhekar
   ### CWID: 20015840

In [16]:
#import preprocessing libraries
import pandas as pd 
import numpy as np

#algorithm libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

#Metrics libraries
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

### Data Processing

In [17]:
# loading the dataset in pandas
df = pd.read_csv("breast-cancer-wisconsin.csv")
df

      Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0    1000025   5   1   1   1   2   1   3   1   1      2
1    1002945   5   4   4   5   7  10   3   2   1      2
2    1015425   3   1   1   1   2   2   3   1   1      2
3    1016277   6   8   8   1   3   4   3   7   1      2
4    1017023   4   1   1   3   2   1   3   1   1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
694   776715   3   1   1   1   3   2   1   1   1      2
695   841769   2   1   1   1   2   1   1   1   1      2
696   888820   5  10  10   3   7   3   8  10   2      4
697   897471   4   8   6   4   3   4  10   6   1      4
698   897471   4   8   8   5   4   5  10   4   1      4

[699 rows x 11 columns]

In [18]:
# storing the target labels
target = df.iloc[:,-1]
target

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Class, Length: 699, dtype: int64

In [19]:
#Dropping the unnecessary columns 
df = df.drop(columns = ['Sample','Class'])
df.shape

(699, 9)

In [20]:
# Converting the missing values denoted by '?' to NaN
df = df.replace({'?': np.NaN})
# Replacing NaN values with the mean values.
df["F6"] = pd.to_numeric(df["F6"])
df['F6'].fillna(df['F6'].mean(), inplace=True)
df['F6'].isnull().sum()

0

In [21]:
#Splitting the data into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size = 0.3)

### Decision Tree Classifier

In [22]:
def Random_Forest_Classifier():
    #Initializing the model 
    rf = RandomForestClassifier(random_state=42)
    #Fitting the model on training data
    rf.fit(X_train, y_train)
    #Predicting the labels values using the test data
    y_pred = rf.predict(X_test)
    #Evaluating the model
    rf_accuracy = accuracy_score(y_test, y_pred)
    rf_confusion_m = confusion_matrix (y_test, y_pred)
    return rf_accuracy, rf_confusion_m

### Evaluating Decision Tree Classifier.

In [23]:
# Trying out the model using k = 3
rf_accuracy, rf_confusion_m = Random_Forest_Classifier()
print(" Accuracy using Decision Tree Classifier =", rf_accuracy)
print(" Confusion Matrix = \n", rf_confusion_m)

 Accuracy using Decision Tree Classifier = 0.9523809523809523
 Confusion Matrix =
 [[132   8]
 [  2  68]]